<nav class="main-nav">
  <a href="/">Home</a>

  <% if (user) { %>
  <a href="/recipes">My Recipes</a>
  <a href="/ingredients">Ingredients</a>
  <a href="/users">Explore Our Community</a>
  <a href="/auth/sign-out">Sign out</a>
  <% } else { %>
  <a href="/auth/sign-up">Sign up</a>
  <a href="/auth/sign-in">Sign in</a>
  <% } %>
</nav>
