<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Our Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Explore Our Community</h1>

    <% if (users.length === 0) { %>
    <p>No users have joined yet.</p>
    <% } else { %>
    <ul>
      <% users.forEach(u => { %>
      <li><%= u.username %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
